extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat bibendum nulla, pretium consectetur lorem semper vel. Vestibulum sit amet sem nibh. Aliquam blandit eget nunc convallis molestie. Donec sed placerat metus. Etiam justo magna, pretium eget tempus rutrum, sagittis et urna. 
                p Proin vel mauris hendrerit, convallis dui sit amet, tristique nibh. Cras sed pellentesque enim, imperdiet blandit dolor. Fusce luctus congue sagittis. Ut venenatis dolor sed nibh efficitur consectetur. Etiam eleifend sagittis lectus, in hendrerit nibh iaculis ut. Vestibulum neque nulla, tempus nec lorem quis, venenatis sagittis diam. 
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            
        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD
    
    .container 
        h2.mt-5.text-center Testimoniales

        include ./layout/bloque_testimoniales