extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sem tortor, vehicula vel leo nec, commodo porta ligula. Suspendisse mi nulla, auctor sit amet orci ac, aliquam convallis urna. Vestibulum cursus a lectus at scelerisque. Vestibulum lacinia neque nec ipsum rutrum, egestas fermentum diam blandit. Aliquam at pharetra leo. Integer porttitor luctus feugiat. Duis eu rhoncus arcu, et hendrerit erat. Integer at rutrum dui, at blandit lectus.

                p Curabitur tincidunt turpis nec maximus fermentum. Vestibulum suscipit vestibulum turpis, at interdum neque placerat non. Sed sapien sem, tincidunt in tortor et, molestie vehicula magna. Pellentesque maximus, velit ut dictum tristique, enim libero lacinia odio, fringilla suscipit libero ex sit amet nulla. Etiam ultricies viverra convallis. Donec tempus condimentum mi, vel tristique lorem vestibulum quis. Fusce ultrices placerat quam, id dignissim.

                p Sed semper massa quis lacus ultrices, at volutpat ligula venenatis. Donec at consequat tellus. Vivamus hendrerit, nisl bibendum venenatis vehicula, nisl neque interdum elit, eget euismod lectus nunc ut libero. Etiam ut pellentesque felis. Ut scelerisque risus sit amet libero efficitur hendrerit. Sed quis eleifend turpis. Sed condimentum vehicula mattis.

    .listado-iconos 
        .container.mt-5.py-5.text-center    
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Etiam ut pellentesque felis. Ut scelerisque risus sit amet libero efficitur hendrerit. Sed quis eleifend turpis. Sed condimentum vehicula mattis.Etiam ut pellentesque felis.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Etiam ut pellentesque felis. Ut scelerisque risus sit amet libero efficitur hendrerit. Sed quis eleifend turpis. Sed condimentum vehicula mattis.Etiam ut pellentesque felis.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Etiam ut pellentesque felis. Ut scelerisque risus sit amet libero efficitur hendrerit. Sed quis eleifend turpis. Sed condimentum vehicula mattis.Etiam ut pellentesque felis.